.row{
    padding:30px;
    }

div{
    background: rgb(0, 0, 0);
    color: rgb(109, 107, 107);    
}
h1, h3{
    display: inline;
}
#explab{
    color: rgb(109, 107, 107); 
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}
#explab:hover{
    color: rgb(15, 170, 218);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}