.row{
    background: rgb(54, 54, 54);
    padding: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
    
}
.row:hover{
    background: rgb(32, 59, 148);
    padding: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}
#graficos{
    color: white;
    margin-top: 20px;    
}