<div class="row">
    <h1 id="graficos">Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="82"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/html-logo.png'"
        [showImage]=" true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/css-logo.png'"
        [showImage]=" true"
        [imageHeight]="50"
        [imageWidth]="37"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/JavaScript-logo.png'"
        [showImage]=" true"
        [imageHeight]="50"
        [imageWidth]="40"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/github-logo.png'"
        [showImage]=" true"
        [imageHeight]="50"
        [imageWidth]="90"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/english.png'"
        [showImage]=" true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [titleColor]="'white'"
        [backgroundColor]="'black'"
        [radius]="60"
        [imageSrc]="'../assets/relaciones.png'"
        [showImage]=" true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(15, 170, 218)'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
