<div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="width: 50%">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
        <p>Muñoz José</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos aperiam quidem impedit, assumenda beatae nostrum harum consequatur sit saepe ab tempora officia necessitatibus unde nobis laboriosam rem cumque quia.</h2>
    </div>
</div>