.row{
    background-color: rgb(54, 54, 54);
    padding: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}
div{
    text-align: center;
    color: white
}
#texto{
    text-align: left;    
    margin-left:40px;
    line-height:20px;    
}
#nombre{
    font-size: 35px;
}
#referencia{
    font-size: 25px;    
}
.row:hover{
    background-color: rgb(32, 59, 148);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}

/*configuración para diferentes pantallas de la foto perfil*/

@media(min-width:641px) {
    #foto_perfil {
        position: absolute;
        width: 22%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 4%;
        top: 600px;
    }
}
@media(max-width:640px){
    #foto_perfil {
        
        width: 50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 22%;
        top: 300px;
    }
    #texto{
        text-align: center;    
        margin-left:0px;
        margin-bottom: 20px;
        line-height:20px;    
    }
}    

/*nombre portfolio*/
#nombre{    
    margin-top: 10%;    
}
#especializacion{
    margin-top: 1px;
}
#foto_perfil{    
    filter: grayscale(100%);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}

#foto_perfil:hover {    
    filter: grayscale(0%);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -transition: all 0.7s;
}