<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <img src="../../../assets/foto_perfil.jpg" class="img-fluid" id="foto_perfil">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" id="texto">
        <p id="nombre">José Muñoz</p>
        <p id="especializacion">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
        <span>
            <p id="referencia">Acerca de mi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eius incidunt, esse reiciendis eos ipsum qui aliquam itaque! Architecto aliquam itaque fuga earum enim vitae dolores quas culpa nostrum adipisci!</p>
        </span>
    </div>
</div>